.Form{
    & figure{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height:100%;
        & img{
            width:232/735%;
            margin-bottom: 10%;
        }
        & figcaption{
            text-align:center;
            width:110%;
            font-size: 22px;
            font-weight:bold
        }
    }
    & Link{
        border:5px solid black;
        padding: 0 15px;
        min-width:325px;
        margin:10%;
        & button{
            margin:0;
            width:325px
        }

    }
    & button Link{
        width:100%;
        color: white;
    }
}