$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../../assets/fonts/icons" !default;

$icon-x: "\e927";
$icon-filter: "\e925";
$icon-google-translate: "\e902";
$icon-smartphone: "\e903";
$icon-interrogacion: "\e901";
$icon-compartir: "\e900";
$icon-home: "\e904";
$icon-pencil: "\e905";
$icon-book: "\e91f";
$icon-files-empty: "\e926";
$icon-barcode: "\e937";
$icon-qrcode: "\e938";
$icon-lifebuoy: "\e941";
$icon-location: "\e947";
$icon-calendar: "\e953";
$icon-user: "\e971";
$icon-search: "\e986";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-cross: "\ea0f";
$icon-checkmark2: "\ea11";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-file-pdf: "\eadf";